black
dask
flake8
flask
flit
ipywidgets
jupyterlab
jupyterlab-geojson
matplotlib<3.4  # https://github.com/sympy/sympy/issues/21739
mypy
nbresuse
pandas
pandas-profiling
plotly
poliastro
pyproj
pytest
rasterio
requests
rise
scikit-learn
seaborn
sentinelsat
shapely
sympy
xarray
