black
dask
flake8
flask
flit
ipyleaflet
ipywidgets
jupyterlab
mypy
nbresuse
pandas
# pandas-profiling  # https://github.com/pandas-profiling/pandas-profiling/issues/809
plotly
poliastro
pyproj
pytest
rasterio
requests
rise
scikit-learn
seaborn
sentinelsat
shapely
sympy
xarray
