black
dask
flake8
flask
flit
ipyleaflet
ipywidgets
jupyterlab
mypy
nbresuse
pandas
pandas-profiling
plotly
poliastro
pyproj
pytest
rasterio
requests
rise
scikit-learn
seaborn
sentinelsat
shapely
sympy
xarray
